input[type="range"] {
  overflow: hidden;
  height: 10px;
  margin: 10px 5px;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid plum;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 30px;
  background: purple;
  margin-top: -5px;
  box-shadow: 1px 1px 7px black;
  cursor: pointer;
  box-shadow: -100vw 0 0 100vw plum;
}
